/target
/lib
/classes
/checkouts
/db
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
.nrepl-port
/resources/public
!/resources/public/o/.placeholder
!/resources/public/u/.placeholder
/resources/data
!/resources/data/create.sql
