body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

input.button {
    background: yellow;
}

footer {
    margin-top: 5px;
    border-top: 1pt solid black;
    font-size: smaller;
    color: gray;
}

tr.even {
    background: #d9edf7;
}

tr.odd {

}

th {
    color: navy;
    background: skyblue;
    text-align: center;
    border: 1px solid white;
}

td {
    border: 1px dotted gray;
}

th.name {
    width: 200px;
}

th.subject {
    width: 300px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

