body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
/*
    text-align: center;
    margin-left:2em;
*/
    border-bottom:1pt solid gray;
}

input.button {
    background: yellow;
}

footer {
    margin-top: 5px;
    border-top: 1pt solid black;
    font-size: smaller;
    color: gray;
}

tr.even {
    background: #d9edf7;
}

tr.odd {

}

table.tbl th {
    color: navy;
    background: skyblue;
    text-align: center;
    border: 1px solid white;
}

table.tbl td {
    border: 1px dotted gray;
}

th.name {
    width: 160px;
}

th.subject {
    width: 200px;
}

th.q {
    width:100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.login tr {
    margin-bottom: 5px;
}

table.login th {

}

table.login td {

}

table.edit input {
    width:300px;
}
